<div class="container edit-container">
  <%= simple_form_for(@e_storage) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :files, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Create", class:"btn btn-outline-success" %>
  <% end %>
</div>
