<div class="page-container d-flex justify-content-start">
  <div class="chatroom-index-container border border-dark ms-4">
      <ul> <strong>My chatrooms</strong>
        <%  @chatrooms.each do |chatroom| %>
        <li>
          <%= link_to chatroom.contributor.offers.first.name, chatroom_path(chatroom) %>
        </li>
        <% end %>
      </ul>
    </div>

  <div class="container chatroom">
    <div class="chatroom-name-container">
      <h3><%= @chatroom.contributor.offers.first.name %></h3>
    </div>

    <div class="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>



    <div class="input-container">
      <%= simple_form_for [@chatroom, @message],
        html: {class: "d-flex"} do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message #{@chatroom.contributor.offers.first.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-outline-success mb-3" %>
      <% end %>
    </div>
  </div>
</div>
