<div class="container-fluid">

  <div class="image-container">
    <%= image_tag("hero.png") %>
    <div class="image-caption">
      <h3>Tailor your search according to your story.</h3>
      <h6>Select your destination or choose one of the available categories. This is your first step.</h6>
    </div>
  </div>

  <div class="map-container">
    <div class='circle-container'>
      <a href='#' class='center'><%= image_tag("tree.png", class: "tree-logo") %></a>
      <a><% classes = ["deg0","deg45","deg135", "deg180", "deg225", "deg315"] %></a>

      <% @categories.each_with_index do |category, index| %>
        <a href="<%= root_path(category_id: category.id, anchor: "after-refresh-map") %>" class="category-link <%= classes[index]%>">
          <div class="category-card">
            <h4><%= category.name.upcase %></h4>
            <p><%= @icons[index].html_safe %></p>
          </div>
        </a>
      <% end %>
      <a href='<%= root_path(anchor: "after-refresh-map") %>' class='category-link deg315'>
        <div class="category-card">
          <h4><%= "ALL RESOURCES" %></h4>
        </div>
      </a>
    </div>

    <div class="interactive-map">
      <%= form_with url: categories_path, method: :get, class: "map-search d-flex justify-content-end" do %>
        <div class="country-dropdown search-inputs d-flex">
          <select id="country" name="country" class="form-select">
            <option value="" selected disabled>Select destination</option>
              <option value="Germany">Germany</option>
              <option value="Italy">Italy</option>
              <option value="France">France</option>
              <option value="Spain">Spain</option>
              <option value="Albania">Albania</option>
              <option value="Greece">Greece</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Sweden">Sweden</option>
            </select>
            <%= button_tag(type: 'submit', class: 'btn btn-outline-success') do %>
              <span><i class="fas fa-search"></i></span>
            <% end %>
        </div>
      <% end %>

      <div id="after-refresh-map" class="map" style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
