<div class="container-fluid">

  <div class="image-container">
    <%= image_tag("migration4.png") %>
    <h3 class="image-caption">Offering equality through information.</h3>
  </div>

  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6">
          </div>
      </div>
  </div>

  <div class="categories mb-4">
      <% @categories.each_with_index do |category, index| %>
        <a href="<%= root_path(category_id: category.id, anchor: "after-refresh-map") %>"class="link-style">
          <div class="category">
            <h4><%= category.name.upcase %></h4>
            <p><%= @icons[index].html_safe %></p>
          </div>
        </a>
      <% end %>
    </div>


    <%= form_with url: categories_path, method: :get, class: "map-search d-flex justify-content-end" do %>
      <div class="country-dropdown search-inputs d-flex">
        <select id="country" name="country" class="form-select">
          <option value="" selected disabled>Select destination</option>
            <option value="Germany">Germany</option>
            <option value="Italy">Italy</option>
            <option value="France">France</option>
            <option value="Spain">Spain</option>
            <option value="Albania">Albania</option>
            <option value="Greece">Greece</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Sweden">Sweden</option>
          </select>
          <%= button_tag(type: 'submit', class: 'btn btn-outline-success') do %>
            <span><i class="fas fa-search"></i></span>
          <% end %>
      </div>
    <% end %>

  <div id="after-refresh-map" class="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
