<div class="container">
    <p>Offering equality through information and resources.</p>

  <div class="categories">
    <% @categories.each_with_index do |category, index| %>
      <div class="category" >
        <h4><%= category.name.upcase %></h4>
        <p><%= @icons[index].html_safe %></p>
      </div>
    <% end %>
  </div>

  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <%= form_with url: categories_path, method: :get do %>
                  <div class="country-dropdown search-inputs d-flex">
                      <select id="country" name="country" class="form-select">
                          <option value="" selected disabled>Select country</option>
                          <option value="Germany">Germany</option>
                          <option value="Italy">Italy</option>
                          <option value="France">France</option>
                          <option value="Spain">Spain</option>
                          <option value="Portugal">Albania</option>
                          <option value="Greece">Greece</option>
                          <option value="Netherlands">Netherlands</option>
                          <option value="Sweden">Sweden</option>
                      </select>
                      <%= button_tag(type: 'submit', class: 'btn btn-outline-success', style: "margin-left: 15px;") do %>
                          <span><i class="fas fa-search"></i></span>
                      <% end %>
                  </div>
              <% end %>
          </div>
      </div>
  </div>

  <div class="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
