<div class="container">
  <%= link_to "Back to Categories", categories_path(country: params[:country], city: params[:city]) %>

  <h1><%= @category.name %><h1>
  <div class="card-product-container flex-container">
    <% @offers.each do |offer| %>
      <div class="card-product">
        <!-- Image -->

        <!-- Content -->
        <div class="card-product-infos">
          <!-- User's Offer Page -->
          <h2><%= offer.name %></h2>
          <%= cl_image_tag offer.user.photo.key, class:"avatar-large", alt:"avatar-large" %>
          <p class="upvotes"><%= offer.upvotes %> <strong>people that trusted us</strong></p>

          <%= link_to "Details", offer_path(offer, country: params[:country], city: params[:city]), class:"btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
