<div class="show-card-container">
  <%= link_to "Back to Offers", offers_path(category_id: @offer.category.id, country: params[:country], city: params[:city]) %>
  <div class="show-card d-flex">
  <%= cl_image_tag @offer.user.photo.key, class:"avatar-large", alt:"avatar-large" %>
          <!-- Content -->
    <div class="show-card-infos">
      <h1><%= @offer.name %><h1>
      <!-- User's Offer Page -->
      <p><strong>Website:</strong> <%= @offer.website %></p>
      <p><strong>Phone number:</strong> <%= @offer.phone %></p>
      <p><strong>What do we provide?</strong> <%= @offer.description %></p>
      <p><strong><%= @offer.upvotes %> people trusted us</strong></p>
     <%= link_to "Contact us",  offer_chatrooms_path(@offer), data: { turbo_method: :post}, class: "btn btn-outline-success card_button" %>
    </div>
  </div>
</div>
